* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 174, 255);
  --secondary-color: rgb(216, 216, 216);
  --bg-color: rgb(243, 243, 243);
}

html {
  scroll-behavior: smooth;
}

/* @@@@( Navbar Section)@@@@ */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
}

/* @@@@( Home Section )@@@@ */
.home {
  background-color: var(--bg-color);
}

.home h4 {
  font-size: 1rem;
}

.home h3 {
  font-size: 1.2rem;
  font-weight: bolder;
}

.home h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

.home p {
  font-size: 18px;
}

.home img {
  height: 25rem;
  display: inline-block;
}

/* @@@@( About Section )@@@@ */
.about {
  width: 100%;
  padding: 2rem;
  /* border: 2px solid black; */
  background-color: var(--secondary-color);
}

.about h1 {
  font-size: 26px;
  font-weight: bolder;
}

.about h3 {
  font-size: 20px;
  font-weight: 600;
}

.about p {
  font-size: 18px;
}

.about .section-title {
  font-size: 34px;
}

.about .section-title span {
  color: var(--primary-color);
}

/* @@@@( Experience Section )@@@@ */
.experience {
  width: 100%;
  padding: 2rem;
  /* border: 2px solid black; */
  background-color: var(--bg-color);
}

.experience .section-title span {
  color: var(--primary-color);
}

.experience .institute-name {
  font-size: 20px;
  font-weight: 700;
}

.experience .date {
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-color);
}

.contact {
  width: 100%;
  padding: 2rem;
  /* border: 2px solid black; */
  background-color: var(--secondary-color);
}

/* @@@@( Contact Section )@@@@ */
.contact .section-title span {
  color: var(--primary-color);
}

.contact form {
  max-width: 40rem;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .home img {
    height: 350px;
    margin-top: 2rem;
  }
}
